*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://cdn.pixabay.com/photo/2012/06/08/06/19/clouds-49520_1280.jpg");
    background-position: center;
    background-size: cover;
}
.card{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    gap: 15px;
}

.card input{
  font-size: 30px;
  border: 2px solid black;
  text-align: center;
}
.card button{
    font-size: 15px;
    padding: 5px 5px;
    background-color: white;
    color: black;
    font-weight:600;
}
.card p{
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
}